#ajax-spinner {
    display:none;
    position:fixed;
    z-index:10000;
    background-position: center center;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
}
.ajax-message {
    display:none;
    z-index:10000;
    background-color:#fff;
    min-width:400px;
    padding:10px;
    border:4px solid #aaa;
    text-align:center;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-message .close {
    cursor:pointer;
    border:1px solid #666;
    background-color:#333;
    color:#fff;
    padding:4px;
    width: 80px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.ajax-message .message {
    text-align:left;
    padding:5px;
    border:none;
}
.ajax-message .error {
    background:url('/++resource++bdajax/error.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .warning {
    background:url('/++resource++bdajax/warning.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-message .info {
    background:url('/++resource++bdajax/info.png') top left no-repeat;
    padding-left:37px;
    min-height:32px;
}
.ajax-overlay {
    display:none;
    z-index:5000;
    background-color:#fff;
    min-width:400px;
    border:4px solid #aaa;
    font-size:12px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-overlay .close {
    background-image:url('/++resource++bdajax/close.png');
    position:absolute;
    z-index:5001;
    right:-17px;
    top:-20px;
    cursor:pointer;
    height:35px;
    width:35px;
}
.ajax-dialog {
    display:none;
    position:absolute;
    z-index:10000;
    text-align: center;
    padding:20px;
    font-weight:bold;
    border:4px solid #aaa;
    background-color:#fff;
    width:300px;
    min-height:100px;
    box-shadow:0 0 30px 5px #ccc;
    -moz-box-shadow:0 0 30px 5px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
}
.ajax-dialog .text {
    min-height:60px;
    font-size:16px;
}
.ajax-dialog button {
    border:#000 1px solid;
    color:#fff;
    background-color:#333;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    margin:5px;
    padding:3px;
}