#ajax-spinner {
    display:none;
    position:fixed;
    z-index:10000;
    background-position: center center;
    top:50%;
    left:50%;
    margin-top:-32px;
    margin-left:-32px;
}
.modal-body {
    max-height:450px;
    overflow-y:auto;
}